{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}

<div class="container">
    <h1 class="page-title">Latest Posts</h1>

    <a href="{% url 'post-search' %}" class="filter-button">Go to Search</a>

    <div class="post-list">
        {% for post in posts %}
        <div class="post">
            <h2 class="post-title">
                <a class="post-link" href="{% url 'post-detail' post.pk %}">{{ post.title|censor_obscene }}</a>
            </h2>
            <div class="post-categories">
                <p class="categories-label"></p>
                <p class="categories-list">
                    {% for category in post.categories.all %}
                    <a href="{% url 'post-filter' category.name %}" class="category-link">{{ category.name }}</a>
                    {% endfor %}
                </p>
            </div>
            <div class="post-content">
                <p class="post-preview">{{ post.preview|censor_obscene }}</p>
            </div>
            <div class="post-footer">
                <div class="rating">
                    <span class="rating-label">Rating:</span>
                    <span class="rating-value">{{ post.rating }}</span>
                </div>
                <div class="author">
                    <span class="author-label">Author:</span>
                    <span class="author-name">{{ post.author }}</span>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="no-posts">No posts available.</p>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="pagination">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1" class="page-link">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&lsaquo; Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <span class="current-page page-link">{{ num }}</span>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %} {# Show 5 pages around the current page #}
                <a href="?page={{ num }}" class="page-link">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next &rsaquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last &raquo;</a>
        {% endif %}
    {% endif %}
    </div>
    <!-- Pagination -->

    <div class="button-container">
        <a href="{% url 'create-news' %}" class="create-post-button">Create News</a>
        <a href="javascript:history.back()" class="back-button">Back</a>
    </div>
    </div>

<style>
    body {
      background-color: #222;
      color: #fff;
      font-family: 'Segoe UI', Arial, sans-serif;
      font-size: 18px;
    }

    .container {
      max-width: 900px;
      margin: 0 auto;
      padding: 20px;
    }

    .page-title {
      font-size: 28px;
      margin-bottom: 20px;
    }

    .post-list {
      list-style: none;
      padding: 0;
    }

    .post {
      margin-bottom: 30px;
      background-color: #000;
      color: #fff;
      padding: 30px;
      border-radius: 20px;
      position: relative;
    }

    .post-title {
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .post-info {
      font-size: 16px;
      color: #888;
      margin-bottom: 10px;
    }

    .post-categories {
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
     text-align: center;
     padding-bottom: 10px;
   }

    .post-categories a:hover {
      text-decoration: none;
      color: #555;
    }

    .post-content {
      margin-bottom: 15px;
    }

    .post-preview {
      font-size: 20px;
    }

    .post-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
    }

    .rating {
      display: flex;
      align-items: center;
    }

    .rating-label {
      margin-right: 5px;
    }

    .author {
      display: flex;
      align-items: center;
    }

    .author-label {
      margin-right: 5px;
    }

    .post-link {
      color: #fff;
      text-decoration: none;
    }

    .post-link:hover {
      color: #888;
      text-decoration: none;
    }

    .category-link {
      color: #999;
      text-decoration: none;
    }

    .category-link:hover {
      text-decoration: none;
    }

    .category-link:focus,
    .category-link:active {
      outline: none;
    }

    .back-button {
      display: inline-block;
      padding: 8px 16px;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      margin-top: 20px;
    }

    .back-button:hover {
      background-color: #111;
      color: #fff;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .create-post-button,
    .back-button {
        display: inline-block;
        padding: 8px 16px;
        background-color: #000;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        margin-top: 20px;
    }

    .create-post-button:hover,
    .back-button:hover {
        background-color: #111;
        color: #fff;
    }

    /* Pagination */

    .pagination {
      margin-top: 20px;
    }

    .page-link {
      color: #fff;
      text-decoration: none;
      margin-right: 5px;
      background-color: #222;
      padding: 5px 10px;
      border-radius: 4px;
    }

    .current-page {
      font-weight: bold;
      background-color: #444;
    }

    .filter-button {
      display: inline-block;
      padding: 8px 16px;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .filter-button:hover {
      background-color: #111;
      color: #fff;
    }

</style>
{% endblock content %}
